/* html {
  font-family: sans-serif;
  background: #1a1a1a;
  padding: 1rem;
}
body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}
h1 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}
a {
  color: #377ba8;
}
hr {
  border: none;
  border-top: 1px solid lightgray;
}
nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}
nav h1 {
  flex: auto;
  margin: 0;
}
nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}
.content {
  padding: 0 1rem 1rem;
}
.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}
.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}
.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}
.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}
.post > header > div:first-of-type {
  flex: auto;
}
.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
.post .about {
  color: slategray;
  font-style: italic;
}
.post .body {
  white-space: pre-line;
}
.content:last-child {
  margin-bottom: 0;
}
.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}
.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}
.content input,
.content textarea {
  margin-bottom: 1em;
}
.content textarea {
  min-height: 12em;
  resize: vertical;
}
input.danger {
  color: #cc2f2e;
}
input[type="submit"] {
  align-self: start;
  min-width: 10em;
}

article {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
  border-radius: 0.5em;
  color: white;
  padding: 2rem;
  margin-block: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
  font-family: "Helvetica Neue";
  text-shadow: 0 0 20px #000000;
  position: relative;

  .poster {
    position: absolute;
    top: 1rem;
    right: 1rem;

    img {
      width: 200px;
      height: 300px;
      object-fit: cover;
      border-radius: 0.5rem;
      box-shadow: 0 0 12px black;
      display: block;
    }

    p {
      margin-block: 0;
      text-align: center;
    }
  }

  h1 {
    font-size: 5rem;
    margin-block: 0.3rem;
    font-family: sans-serif;
    width: 75%;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff !important;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}
.danger {
  background-color: #f25353;

  &:hover {
    background-color: #cc2f2e;
  }
}

.movie_nav {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.review {
  background-color: #1a1a1a;
  padding: 2rem;
  margin-block: 2rem;
  border-radius: 0.5rem;
} */

/* Custom CSS Reset
based on Josh Comeau's CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/
and Andy Bell's Modern CSS Reset: https://piccalil.li/blog/a-more-modern-css-reset/ */
:root {
  --card-width: 650px;
  --dark-bg: #050505;
  --yellow-bg: #e5b468;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* -webkit... only for Safari and MacOS with retina display */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto";
  /* background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* makes sure to use same font-family, font-size and font-weight for all elements */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;

  &:link {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }

  &:hover {
    color: rgb(9, 9, 9);
  }
}

.background {
  background: linear-gradient(
    rgba(255, 194, 95, 0.795) 0%,
    rgba(0, 0, 0, 0.968) 80%
  );

  min-height: 100vh;
  background: rgb(20, 20, 20);
}

nav {
  padding-block-start: 1rem;
  padding-block-end: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 20, 20);
  width: fit-content;
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: 4rem;
  color: #c7c7c7;
  border-radius: 0.5rem;

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
  }

  .login-form form {
    margin-block-start: 1rem;
    display: flex;
    flex-direction: column;
  }

  .login-form input {
    margin-block-end: 1rem;
  }
}

header {
  display: flex;
  background-color: rgb(20, 20, 20);
  justify-content: center;
  color: #727272;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 2rem;
  margin-block-end: 2rem;
}

article {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
  border-radius: 0.5em 0.5em 0 0;
  color: rgba(255, 255, 255, 0.75);
  padding: 2rem;
  margin: 2rem;
  margin-block-end: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 0 20px #000000;
  max-width: var(--card-width);
  margin-inline: auto;

  .movie-nav {
    display: flex;
    gap: 0.2em;
    justify-content: center;
  }
  .movie-title {
    font-family: "Helvetica Neue";
    font-size: calc(70vw / 10);
    font-size: clamp(0.5rem, 6vw, 3rem);
    word-wrap: break-word;
    color: white;
  }

  .rating {
    display: flex;
    align-items: center;
    gap: 4em;
    color: rgba(255, 255, 255, 0.75);
  }
  .movie-year {
    font-size: 2.2em;
    font-family: "Vollkorn", sans-serif;
    font-weight: 600;
  }

  .rating {
    margin-block-end: 0.5em;
    font-size: 1.4em;
    color: #f2d753;
  }

  .links {
    display: flex;
    gap: 0.5em;
    margin-block-end: 1em;
  }

  .details {
    margin-block-end: 1em;
    opacity: 0.85;

    .creators {
      display: flex;
      gap: 1em;
    }

    div > .key {
      font-weight: bold;
    }
  }

  .genre {
    margin-block-end: 1em;
    span {
      background-color: rgba(255, 255, 255, 0.15);
      padding-inline: 0.4em;
      border-radius: 0.2em;
    }
  }
  .plot {
    font-size: 1em;
    font-weight: 500;
    opacity: 0.85;
    /* font-family: "Vollkorn"; */
  }

  /* img {
    aspect-ratio: 2 / 3;
    width: 10rem;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 12px black;
    align-self: center;
  } */
}

.reviews {
  margin-inline: 2rem;
  margin-block-end: 3rem;
  padding: 2rem;
  padding-block-start: 1em;
  background: linear-gradient(rgb(20, 20, 20), #050505);
  border-radius: 0 0 0.5em 0.5em;
  max-width: var(--card-width);
  margin-inline: auto;
}

.new-review {
  display: flex;
  justify-content: center;
  margin-block-end: 1em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 100%;

  form {
    width: 100%;
  }
  .button {
    width: 100%;
  }
}

.review {
  margin-block-end: 2.5em;
  color: white;
  font-family: sans-serif;
  font-size: 0.85em;

  & header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    font-size: inherit;
    background-color: inherit;

    .user {
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin-block-end: 1em;
    }

    .user > h2 {
      font-size: 1.2em;
      color: #ffffff;
    }
    .user > i {
      font-size: 1.35em;
    }

    .user-rating {
      justify-self: center;
    }

    form {
      justify-self: flex-end;
    }
  }

  .review-nav {
    display: inline-flex;
    gap: 0.2em;
    justify-self: flex-end;
  }

  .fa-quote-left {
    font-size: 2.5em;
    margin-inline-end: 0.3em;
  }
  p {
    display: inline;
    color: #dbdbdb;
    font-family: "Vollkorn";
    font-size: 1.25em;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgb(86, 86, 86);
  margin-inline: auto;
  margin-block-end: 1.5em;
}

.movie-small-container {
  --movie-width: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--movie-width), 1fr));
  gap: 2rem;
  width: 90%;
  margin-inline: auto;

  .movie-small {
    width: var(--movie-width);
    justify-self: center;
  }

  & a {
    color: #727272;
  }

  & a:hover {
    color: #f2d753;
  }
}

.flash {
  font-family: "Roboto";
  font-weight: bold;
  background-color: #040404;
  width: fit-content;
  margin-inline: auto;
  margin-block-end: 2rem;
  border-radius: 0.2rem;
  text-align: center;
  padding-block: 0.5rem;
  padding-inline: 1rem;

  &.info {
    color: #e5b468;
  }

  &.delete,
  &.error {
    color: rgb(229, 104, 104);
  }
}
.button {
  display: inline-block;
  padding: 0.2em 0.7em;
  background-color: #040404;
  color: #727272;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #e5b468;
    color: rgb(9, 9, 9);
  }
}
.danger:hover {
  background-color: rgb(229, 104, 104);
}

.liked button {
  color: rgb(229, 104, 104);
}
