{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ movie['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] or movie['title'] }}" required>

    <label for="year"></label>
    <input name="year" id="year" type="number" min="1800" max="{{ g.now.year }}"
        value="{{ request.form['year'] or movie['year'] }}" required>

    <label for="genre"></label>
    <input name="genre" id="genre" value="{{ request.form['genre'] or movie['genre'] }}" required>

    <label for="imdb_id"></label>
    <input name="imdb_id" id="imdb_id" maxlength="9" minlength="9"
        value="{{ request.form['imdb_id'] or movie['imdb_id'] }}" required>

    <label for="stars"></label>
    <input name="stars" id="stars" value="{{ request.form['stars'] or movie['stars'] }}" required>

    <label for="director"></label>
    <input name="director" id="director" value="{{ request.form['director'] or movie['director'] }}" required>

    <label for="writer"></label>
    <input name="writer" id="writer" value="{{ request.form['writer'] or movie['writer'] }}" required>

    <label for="plot"></label>
    <textarea name="plot" id="plot" required>{{ request.form['plot'] or movie['plot'] }}</textarea>

    <label for="poster_link"></label>
    <input name="poster_link" id="poster_link" type="url"
        value="{{ request.form['poster_link'] or movie['poster_link'] }}" required>

    <label for="imdb_rating"></label>
    <input name="imdb_rating" id="imdb_rating" type="number" min="0" max="10" step="0.1"
        value="{{ request.form['imdb_rating'] or movie['imdb_rating'] }}" required>

    <input class="button" type="submit" value="Save">

</form>
<hr>
<form action="{{ url_for('blog.delete_movie', movie_id=movie['id']) }}" method="post">
    <input class="button danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}