<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Flick Club</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/{{ fontawesome_key }}.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=roboto:100,300,400,500,700,900|vollkorn:400,500,600,700,800,900"
        rel="stylesheet">
</head>

<body>


    <nav>
        <div class="nav-container">
            <ul>
                <li>
                    <a href="{{ url_for('blog.index')}}" class="home"><i class="fa-solid fa-circle-user"></i> {{
                        g.user.user_name }}</a>
                </li>
                {% if g.user %}
                <li><span>{{ g.user['username'] }}</span>
                <li class="button danger"><a href="{{ url_for('auth.logout') }}">Log Out</a></li>


                <div>
                    <form action="{{ url_for('blog.delete_user', user_id=g.user.id) }}" method="post">
                        <button class="button danger" type="submit"
                            onclick="return confirm('Do you want to delete this movie?')">
                            DELETE USER <i class="fa-solid fa-trash-can" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>


                {% else %}
                <li><a class="button" href="{{ url_for('auth.register') }}">Register</a>
                <li><a class="button" href="{{ url_for('auth.login') }}">Log In</a>
                    {% endif %}
            </ul>
            <div class="login-form">
                {% block login %}{% endblock %}
            </div>
        </div>


    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for category, message in get_flashed_messages(with_categories=True) %}

        <div class="flash {{ category }}">{{ message }}</div>



        {% endfor %}
        {% block content %}{% endblock %}
    </section>

</body>

</html>